Repository manassharma158/meet.me, pull requests merged in 2021-11, with the labels that each got.

#10 Some failures resolved
  Client/Client.csproj
  ScreenSharing/Client/Interfaces/IScreenShare.cs
  ScreenSharing/Client/ScreenShareClient.cs
  ScreenSharing/Client/SharedScreen.cs
  ScreenSharing/ScreenSharing.csproj
  ScreenSharing/Server/ScreenShareServer.cs
Labels: ScreenSharing

#9 added interface for ClientCheckPointHandler
  Whiteboard/Client/Interfaces/IClientCheckPointHandler.cs
Labels: Whiteboard

#8 ClientBoardCommunicator Phase #1 implementation done
  Whiteboard/Client/ClientBoardCommunicator.cs
  Whiteboard/Client/Interfaces/IClientBoardCommunicator.cs
  Whiteboard/Client/Interfaces/IServerUpdateListener.cs
  Whiteboard/Whiteboard.csproj
Labels: Whiteboard

#12 Initial Implementation for a few Shape Operations along with modified definitions of BoardComponents.
  Whiteboard/BoardComponents/BoardEnums.cs
  Whiteboard/BoardComponents/BoardServerShape.cs
  Whiteboard/BoardComponents/BoardShape.cs
  Whiteboard/BoardComponents/Color.cs
  Whiteboard/BoardComponents/Coordinate.cs
  Whiteboard/BoardComponents/UXShape.cs
  Whiteboard/Client/ClientBoardCommunicator.cs
  Whiteboard/Client/Interfaces/IClientBoardCommunicator.cs
  Whiteboard/Client/Interfaces/IServerUpdateListener.cs
  Whiteboard/Client/Interfaces/IWhiteBoardOperationHandler.cs
  Whiteboard/Client/Shapes/Ellipse.cs
  Whiteboard/Client/Shapes/Line.cs
  Whiteboard/Client/Shapes/MainShape.cs
  Whiteboard/Client/Shapes/Polyline.cs
  Whiteboard/Client/Shapes/Rectangle.cs
  Whiteboard/Client/StateOperationHandlers/ActiveBoardOperationsHandler.cs
  Whiteboard/Client/StateOperationHandlers/BoardOperationsState.cs
  Whiteboard/Client/StateOperationHandlers/InactiveBoardOperationsHandler.cs
  Whiteboard/Client/StateOperationHandlers/ShapeFactory.cs
  Whiteboard/Client/WhiteBoardOperationHandler.cs
  Whiteboard/Whiteboard.csproj
Labels: Whiteboard

#14 Initial implementation for Activity: Client arrival
  Whiteboard/Client/ClientBoardCommunicator.cs
  Whiteboard/Client/ClientBoardStateManager.cs
  Whiteboard/Client/ClientCheckPointHandler.cs
  Whiteboard/Client/Interfaces/IClientBoardCommunicator.cs
  Whiteboard/Client/Interfaces/IClientBoardStateListener.cs
  Whiteboard/Client/Interfaces/IClientBoardStateManager.cs
  Whiteboard/Client/Interfaces/IClientBoardStateManagerInternal.cs
  Whiteboard/Client/Interfaces/IClientCheckPointHandler.cs
  Whiteboard/Client/Interfaces/IServerUpdateListener.cs
  Whiteboard/DataStructures/BoardPriorityQueue.cs
  Whiteboard/DataStructures/BoardStack.cs
  Whiteboard/DataStructures/QueueElement.cs
  Whiteboard/Server/Interfaces/IServerBoardStateManager.cs
  Whiteboard/Server/Interfaces/IServerCheckPointHandler.cs
  Whiteboard/Server/ServerBoardCommunicator.cs
  Whiteboard/Server/ServerBoardStateManager.cs
  Whiteboard/Server/ServerCheckPointHandler.cs
  Whiteboard/Utility/Convertor.cs
Labels: Whiteboard

#16 Conflicts resolved
  Whiteboard/BoardComponents/BoardEnums.cs
  Whiteboard/Client/ClientBoardCommunicator.cs
  Whiteboard/Server/Interfaces/IServerBoardCommunicator.cs
  Whiteboard/Server/Interfaces/IServerBoardStateManager.cs
  Whiteboard/Server/ServerBoardCommunicator.cs
  Whiteboard/Server/ServerBoardStateManager.cs
Labels: Whiteboard

#15 Commenting and Variable renaming.
  Whiteboard/BoardComponents/BoardEnums.cs
  Whiteboard/Client/Shapes/Ellipse.cs
  Whiteboard/Client/Shapes/Line.cs
  Whiteboard/Client/Shapes/MainShape.cs
  Whiteboard/Client/Shapes/Polyline.cs
  Whiteboard/Client/Shapes/Rectangle.cs
  Whiteboard/Client/StateOperationHandlers/ActiveBoardOperationsHandler.cs
  Whiteboard/Client/StateOperationHandlers/ShapeFactory.cs
  Whiteboard/Client/WhiteBoardOperationHandler.cs
Labels: Whiteboard

#17 Client Arrival Activity: State Manager
  Whiteboard/Client/ClientBoardStateManager.cs
  Whiteboard/Client/Interfaces/IWhiteBoardOperationHandler.cs
  Whiteboard/Client/Shapes/Ellipse.cs
  Whiteboard/Client/Shapes/Line.cs
  Whiteboard/Client/Shapes/Polyline.cs
  Whiteboard/Client/Shapes/Rectangle.cs
  Whiteboard/Client/WhiteBoardOperationHandler.cs
  Whiteboard/Server/ServerBoardStateManager.cs
Labels: Whiteboard

#21 Updating Communicator instantiation
  Whiteboard/Client/ClientBoardCommunicator.cs
  Whiteboard/Server/ServerBoardCommunicator.cs
Labels: Whiteboard

#19 Completed Implementation for Operations.
  Whiteboard/BoardComponents/BoardEnums.cs
  Whiteboard/BoardComponents/BoardServerShape.cs
  Whiteboard/BoardComponents/BoardShape.cs
  Whiteboard/BoardComponents/Color.cs
  Whiteboard/BoardComponents/Coordinate.cs
  Whiteboard/BoardComponents/UXShape.cs
  Whiteboard/Client/Interfaces/IWhiteBoardOperationHandler.cs
  Whiteboard/Client/Shapes/Ellipse.cs
  Whiteboard/Client/Shapes/Line.cs
  Whiteboard/Client/Shapes/MainShape.cs
  Whiteboard/Client/Shapes/Polyline.cs
  Whiteboard/Client/Shapes/Rectangle.cs
  Whiteboard/Client/StateOperationHandlers/ActiveBoardOperationsHandler.cs
  Whiteboard/Client/StateOperationHandlers/BoardOperationsState.cs
  Whiteboard/Client/StateOperationHandlers/InactiveBoardOperationsHandler.cs
  Whiteboard/Client/StateOperationHandlers/ShapeFactory.cs
  Whiteboard/Client/WhiteBoardOperationHandler.cs
Labels: Whiteboard

#20 Code for State Manager completed
  Whiteboard/BoardComponents/BoardConstants.cs
  Whiteboard/BoardComponents/BoardEnums.cs
  Whiteboard/BoardComponents/BoardServerShape.cs
  Whiteboard/BoardComponents/UXShape.cs
  Whiteboard/Client/ClientBoardStateManager.cs
  Whiteboard/Client/Interfaces/IClientBoardStateManager.cs
  Whiteboard/Client/Interfaces/IClientBoardStateManagerInternal.cs
  Whiteboard/DataStructures/BoardPriorityQueue.cs
  Whiteboard/DataStructures/BoardStack.cs
  Whiteboard/Server/ServerBoardStateManager.cs
Labels: Whiteboard

#23 Code Refactoring and Minor Fixes
  Whiteboard/BoardComponents/UXShape.cs
  Whiteboard/Client/Shapes/Ellipse.cs
  Whiteboard/Client/Shapes/Line.cs
  Whiteboard/Client/Shapes/MainShape.cs
  Whiteboard/Client/Shapes/Polyline.cs
  Whiteboard/Client/Shapes/Rectangle.cs
  Whiteboard/Client/StateOperationHandlers/ActiveBoardOperationsHandler.cs
Labels: Whiteboard

#24 Added Unit Tests for data structures
  Content/server/ContentServer.cs
  Content/server/ContentServerFactory.cs
  Content/server/IContentServer.cs
  Testing/Dashboard/UnitTest1.cs
  Testing/UnitTest1.cs
  Testing/Whiteboard/DataStructures/BoardPriorityQueueTesting.cs
  Testing/Whiteboard/DataStructures/BoardStackTesting.cs
  Testing/Whiteboard/Server/ServerBoardStateManagerTesting.cs
  Whiteboard/Server/ServerBoardStateManager.cs
Labels: Whiteboard, Content, Testing

#26 Minor change required by server board state manager
  Whiteboard/Server/ServerBoardCommunicator.cs
Labels: Whiteboard

#25 Completed implementation for ServerCheckPointHandler
  Whiteboard/Server/ServerCheckPointHandler.cs
Labels: Whiteboard

#27 Update IClientCheckPointHandler.cs
  Whiteboard/Client/ClientCheckPointHandler.cs
  Whiteboard/Client/Interfaces/IClientCheckPointHandler.cs
Labels: Whiteboard

#28 Unit Tests for Whiteboard State-Manager
  Testing/Whiteboard/Client/ClientBoardStateManagerTesting.cs
  Testing/Whiteboard/DataStructures/BoardPriorityQueueTesting.cs
  Testing/Whiteboard/DataStructures/BoardStackTesting.cs
  Testing/Whiteboard/Server/ServerBoardStateManagerTesting.cs
  Testing/Whiteboard/TestUtilities/StateManagerHelper.cs
  Whiteboard/Client/ClientBoardStateManager.cs
  Whiteboard/DataStructures/BoardPriorityQueue.cs
  Whiteboard/Server/ServerBoardStateManager.cs
Labels: Whiteboard, Testing

#30 Operation Handling Fixes and Unit Test Addition.
  Testing/Whiteboard/Client/Shapes/Comparators.cs
  Testing/Whiteboard/Client/Shapes/EllipseTests.cs
  Testing/Whiteboard/Client/Shapes/LineTests.cs
  Testing/Whiteboard/Client/Shapes/PolylineTests.cs
  Testing/Whiteboard/Client/Shapes/RectangleTests.cs
  Testing/Whiteboard/Client/Shapes/TestIterators.cs
  Testing/Whiteboard/Client/StateOperationHandlers/ActiveBoardOperationsHandlerTests.cs
  Whiteboard/BoardComponents/BoardConstants.cs
  Whiteboard/BoardComponents/BoardEnums.cs
  Whiteboard/BoardComponents/Color.cs
  Whiteboard/BoardComponents/UXShape.cs
  Whiteboard/Client/Shapes/Line.cs
  Whiteboard/Client/Shapes/MainShape.cs
  Whiteboard/Client/Shapes/Polyline.cs
  Whiteboard/Client/StateOperationHandlers/ActiveBoardOperationsHandler.cs
  Whiteboard/Client/StateOperationHandlers/BoardOperationsState.cs
  Whiteboard/Client/StateOperationHandlers/InactiveBoardOperationsHandler.cs
  Whiteboard/Client/StateOperationHandlers/ShapeFactory.cs
  Whiteboard/Client/WhiteBoardOperationHandler.cs
Labels: Whiteboard, Testing

#31 Unit Tests and update to Operation Handlers return value to UX.
  Testing/Whiteboard/BoardComponents/CoordinateTests.cs
  Testing/Whiteboard/Client/Shapes/Comparators.cs
  Testing/Whiteboard/Client/Shapes/LineTests.cs
  Testing/Whiteboard/Client/Shapes/PolylineTests.cs
  Testing/Whiteboard/Client/Shapes/RectangleTests.cs
  Testing/Whiteboard/Client/Shapes/TestIterators.cs
  Testing/Whiteboard/Client/StateOperationHandlers/ActiveBoardOperationsHandlerTests.cs
  Testing/Whiteboard/Client/StateOperationHandlers/InactiveBoardOperationsHandlerTests.cs
  Testing/Whiteboard/Client/StateOperationHandlers/ShapeFactoryTests.cs
  Whiteboard/BoardComponents/BoardConstants.cs
  Whiteboard/BoardComponents/Coordinate.cs
  Whiteboard/BoardComponents/UXShape.cs
  Whiteboard/Client/Shapes/Polyline.cs
  Whiteboard/Client/StateOperationHandlers/ActiveBoardOperationsHandler.cs
  Whiteboard/Client/StateOperationHandlers/BoardOperationsState.cs
  Whiteboard/Client/StateOperationHandlers/InactiveBoardOperationsHandler.cs
  Whiteboard/Client/StateOperationHandlers/ShapeFactory.cs
Labels: Whiteboard, Testing

#32 Updates and Unit-Tests
  Testing/Whiteboard/BoardComponents/Class1.cs
  Testing/Whiteboard/Client/Class1.cs
  Testing/Whiteboard/Client/ClientBoardStateManagerTesting.cs
  Testing/Whiteboard/DataStructures/Class1.cs
  Testing/Whiteboard/Server/Class1.cs
  Whiteboard/Client/ClientBoardStateManager.cs
Labels: Whiteboard, Testing

#33 Created UserLevelHandler
  Whiteboard/Client/UserLevelHandler.cs
Labels: Whiteboard

#34 Edit based on testing with UX.
  Whiteboard/Client/Shapes/MainShape.cs
  Whiteboard/Client/StateOperationHandlers/ActiveBoardOperationsHandler.cs
  Whiteboard/Client/StateOperationHandlers/BoardOperationsState.cs
  Whiteboard/Client/StateOperationHandlers/InactiveBoardOperationsHandler.cs
  Whiteboard/Client/WhiteBoardOperationHandler.cs
Labels: Whiteboard

#35 Addressing UX-Whiteboard integration issue
  Testing/Whiteboard/Client/ClientBoardStateManagerTesting.cs
  Testing/Whiteboard/TestUtilities/StateManagerHelper.cs
  Whiteboard/BoardComponents/UXShape.cs
  Whiteboard/BoardComponents/UXShapeHelper.cs
  Whiteboard/Client/ClientBoardStateManager.cs
  Whiteboard/Client/Interfaces/IClientBoardStateListener.cs
Labels: Whiteboard, Testing

#37 Resolving merge conflicts
  Client/ChatView.xaml
  Client/ChatView.xaml.cs
  Client/Message.cs
  Client/ScreenShare.cs
  Client/ScreenShareUX.xaml.cs
  Client/Theme1.xaml
  Client/Theme2.xaml
  Client/UserViewData.cs
  Client/UsersList.xaml.cs
  Client/ViewModel/ChatViewModel.cs
  Client/ViewModel/HomePageViewModel.cs
  ScreenSharing/Client/Interfaces/IScreenShare.cs
  Server/Program.cs
  Testing/UX/Home/HomePageViewModelUnitTest.cs
  Testing/UX/Home/HomeUtils.cs
Labels: ScreenSharing, Client, Server, Testing

#36 Added unit testing for UserLevelHandler
  Testing/Whiteboard/Client/UserLevelHandlerTesting.cs
Labels: Testing

#38 Minor changes
  Whiteboard/Client/ClientCheckPointHandler.cs
Labels: Whiteboard

#40 Traces, Try Catches, Minor fixes
  Whiteboard/Client/ClientBoardCommunicator.cs
  Whiteboard/Server/ServerBoardCommunicator.cs
Labels: Whiteboard

#41 Update ServerCheckPointHandler.cs
  Whiteboard/Server/ServerCheckPointHandler.cs
Labels: Whiteboard

#42 Update ServerCheckPointHandler.cs
  Whiteboard/Server/ServerCheckPointHandler.cs
Labels: Whiteboard

#43 Minor Updates.
  Testing/Whiteboard/Client/StateOperationHandlers/ActiveBoardOperationsHandlerTests.cs
  Testing/Whiteboard/Client/WhiteBoardOperationsHandlerTests.cs
  Whiteboard/BoardComponents/UXShape.cs
  Whiteboard/Client/StateOperationHandlers/ActiveBoardOperationsHandler.cs
  Whiteboard/Client/StateOperationHandlers/BoardOperationsState.cs
  Whiteboard/Client/WhiteBoardOperationHandler.cs
Labels: Whiteboard, Testing

#44 Fix for User Level.
  Whiteboard/Client/StateOperationHandlers/ActiveBoardOperationsHandler.cs
Labels: Whiteboard

#45 Bug fixing
  Whiteboard/Client/ClientBoardStateManager.cs
  Whiteboard/Client/Interfaces/IClientBoardStateManager.cs
  Whiteboard/Server/ServerBoardStateManager.cs
Labels: Whiteboard

#39 Refactoring Code
  ScreenSharing/Client/ScreenShareClient.cs
  ScreenSharing/ScreenShareFactory.cs
  ScreenSharing/Server/ScreenShareServer.cs
  Testing/ScreenSharing/ScreenShareFactoryTesting.cs
Labels: ScreenSharing, Testing

#46 Unit Tests for ClientBoardCommunicator and ServerBoardCommunicator
  Testing/Whiteboard/Client/ClientBoardCommunicatorTesting.cs
  Testing/Whiteboard/Server/ServerBoardCommunicatorTesting.cs
Labels: Testing

#47 commenting unit test
  Testing/ScreenSharing/ScreenShareFactoryTesting.cs
Labels: Testing

#48 Subscribe to networking changed
  ScreenSharing/ScreenShareFactory.cs
  ScreenSharing/Server/ScreenShareServer.cs
  Testing/ScreenSharing/ScreenShareFactoryTesting.cs
Labels: ScreenSharing, Testing

#49 Added Unit Tests for ServerCheckPointHandler
  Testing/Whiteboard/Server/ServerCheckPointHandlerTesting.cs
  Whiteboard/Server/Interfaces/IServerCheckPointHandler.cs
  Whiteboard/Server/ServerCheckPointHandler.cs
Labels: Whiteboard, Testing

#50 Updated traces and Bug Fix [Clear Whiteboard]
  Testing/Whiteboard/Client/ClientBoardStateManagerTesting.cs
  Testing/Whiteboard/DataStructures/BoardPriorityQueueTesting.cs
  Testing/Whiteboard/Server/ServerBoardStateManagerTesting.cs
  Testing/Whiteboard/TestUtilities/StateManagerHelper.cs
  Whiteboard/Client/ClientBoardStateManager.cs
  Whiteboard/DataStructures/BoardPriorityQueue.cs
  Whiteboard/DataStructures/BoardStack.cs
  Whiteboard/Server/ServerBoardStateManager.cs
Labels: Whiteboard, Testing

#51 trace added for debugging
  ScreenSharing/Client/ScreenShareClient.cs
  ScreenSharing/ScreenShareFactory.cs
  ScreenSharing/Server/ScreenShareServer.cs
Labels: ScreenSharing

#52 Cleaned code and updated traces.
  Testing/Whiteboard/BoardComponents/CoordinateTests.cs
  Testing/Whiteboard/Client/Shapes/Comparators.cs
  Testing/Whiteboard/Client/Shapes/EllipseTests.cs
  Testing/Whiteboard/Client/Shapes/LineTests.cs
  Testing/Whiteboard/Client/Shapes/PolylineTests.cs
  Testing/Whiteboard/Client/Shapes/RectangleTests.cs
  Testing/Whiteboard/Client/Shapes/TestIterators.cs
  Testing/Whiteboard/Client/StateOperationHandlers/ActiveBoardOperationsHandlerTests.cs
  Testing/Whiteboard/Client/StateOperationHandlers/InactiveBoardOperationsHandlerTests.cs
  Testing/Whiteboard/Client/WhiteBoardOperationsHandlerTests.cs
  Whiteboard/BoardComponents/BoardShape.cs
  Whiteboard/BoardComponents/Coordinate.cs
  Whiteboard/BoardComponents/UXShape.cs
  Whiteboard/Client/Shapes/Ellipse.cs
  Whiteboard/Client/Shapes/Line.cs
  Whiteboard/Client/Shapes/MainShape.cs
  Whiteboard/Client/Shapes/Polyline.cs
  Whiteboard/Client/Shapes/Rectangle.cs
  Whiteboard/Client/StateOperationHandlers/ActiveBoardOperationsHandler.cs
  Whiteboard/Client/StateOperationHandlers/BoardOperationsState.cs
  Whiteboard/Client/StateOperationHandlers/InactiveBoardOperationsHandler.cs
Labels: Whiteboard, Testing

#53 name added in every file
  ScreenSharing/Client/ScreenShareClient.cs
  ScreenSharing/ScreenShareFactory.cs
  ScreenSharing/Server/ScreenShareServer.cs
  Testing/ScreenSharing/ScreenShareFactoryTesting.cs
Labels: ScreenSharing, Testing

#54 added owner name
  Testing/Whiteboard/Client/ClientBoardCommunicatorTesting.cs
  Testing/Whiteboard/Server/ServerBoardCommunicatorTesting.cs
Labels: Testing

#56 Added a comment
  Whiteboard/Client/ClientBoardStateManager.cs
Labels: Whiteboard

#55 Added Unit Tests for ClientCheckPointHandler
  Testing/Whiteboard/Client/ClientCheckPointHandlerTesting.cs
  Testing/Whiteboard/Server/ServerCheckPointHandlerTesting.cs
  Whiteboard/Client/ClientCheckPointHandler.cs
Labels: Whiteboard, Testing

#57 screen sharing changes
  Client/MainWindow.xaml.cs
  Client/ViewModel/ScreenShareViewModel.cs
  ScreenSharing/Client/ScreenShareClient.cs
  ScreenSharing/ScreenShareFactory.cs
  Testing/ScreenSharing/ScreenShareFactoryTesting.cs
Labels: ScreenSharing, Client, Testing

#58 Screen Sharing done
  Client/MainWindow.xaml.cs
  Client/ViewModel/ScreenShareViewModel.cs
  Dashboard/Client/SessionManagement/ClientSessionManager.cs
  Dashboard/Server/SessionManagement/ServerSessionManager.cs
Labels: Dashboard, Client

#59 Screen Sharing Completed
  ScreenSharing/Client/ScreenShareClient.cs
Labels: ScreenSharing
